* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  min-width: 1200px;
}

.blue {
  background-color: #28b9b5;
}
.red {
  background-color: #ff5049;
}

.top {
  position: relative;
  width: 100%;
  height: 440px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../resource/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.budget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.budget__title,
.budget__value {
  font-size: 18px;
  color: white;
  font-weight: 300;
  text-align: center;
  margin-bottom: 12px;
}

.budget__value {
  letter-spacing: 1px;
  font-size: 50px;
  margin-bottom: 26px;
}

.budget__income,
.budget__expenses {
  width: 360px;
  height: 46px;
  margin-bottom: 10px;
  padding: 14px;
}

.budget__income {
  background-color: #28b9b5;
}

.budget__expenses {
  background-color: #ff5049;
}

.budget__income--label,
.budget__expenses--label {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding-top: 1px;
}

.right {
  float: right;
}

.budget__income--value,
.budget__expenses--value {
  float: left;
  color: white;
  line-height: 20px;
  letter-spacing: 1px;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: auto;
  min-width: 40px;
  margin-left: 10px;
  font-size: 13px;
  padding-top: 1px;
}

.budget__income--percentage {
  visibility: hidden;
}

.budget__expenses--percentage {
  text-align: center;
  color: white;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bottom {
  position: relative;
  height: auto;
  width: 100%;
}

.add {
  height: 80px;
  position: relative;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

.add__container {
  height: 80px;
  min-width: 1000px;
  padding: 15px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.add__description,
.add__value,
.add__type {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: white;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 300;
  color: gray;
  padding: 0 10px;
}

.add__type {
  width: 60px;
}

.add__description {
  width: 400px;
}

.add__value {
  width: 100px;
  line-height: 50px;
}

.add__btn {
  width: 40px;
  height: 50px;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 1000px;
  margin: 40px auto;
}

.income,
.expenses {
  float: left;
  width: 475px;
  padding: 10px;
  position: relative;
}

.income {
}

.expenses {
  margin-left: 50px;
}

.income__title,
.expenses__title {
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.income__title {
  color: #28b9b5;
}
.expenses__title {
  color: #ff5049;
}

.income__list {
  width: 475px;
}

.item {
  width: 455px;
  height: 46px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
  overflow: hidden;
}
.income .item {
  color: #28b9b5;
}
.expenses .item {
  color: #ff5049;
}

.item__description {
  line-height: 26px;
  max-width: 260px;
  float: left;
  color: black;
}

.item__value {
  line-height: 26px;
  width: 105px;
  float: right;
  transition: transform 0.3s;
  text-align: right;
}

.item__percentage {
  transition: transform 0.3s;
  text-align: center;
  float: right;
  line-height: 26px;
  width: auto;
  min-width: 40px;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.1);
}

.item__delete {
  width: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
  transform: translate(50%, -50%);
  display: none;
}

.item__delete--btn {
  font-size: 22px;
  padding: 2px 0;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.income .item__delete--btn {
  color: #28b9b5;
}

.expenses .item__delete--btn {
  color: #ff5049;
}

.item:hover .item__value {
  transform: translateX(-30px);
}
.item:hover .item__percentage {
  transform: translateX(-30px);
}
.item:hover .item__delete {
  display: block;
}
